nbox[serving]
numpy
mediapipe

# installing opencv-python-headless through requirement can cause one of the following errors:
# AttributeError: partially initialized module 'cv2' has no attribute '_registerMatType' (most likely due to a circular import)
# ImportError: libGL.so.1: cannot open shared object file: No such file or directory

# pillow